#container {
    color: #414140;
}
.choices{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 0px 50px 25px 50px;
}

.choices select {
    width: 250px;

}

.options {
    max-width: 300px;
    background-color: #F5F5DB;
    padding: 0px 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    border: dashed #81ADE4;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 10px 10px 15px #42403e;
}


button {
    background-color: #1A5658;
    color: #F5F5DB;
    font-weight: bolder;
    padding: 8px;
    margin-bottom: 2rem;
}

.order{
    background-color: #EFF9FF;
    border: dashed #65A8AA;
    margin: 5px;
    padding: 10px;
    font-size: x-large;
    margin-bottom: 1rem;

}

.orderButton,.customOrders{
    padding-left: 1rem;
}

